/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* * wildcard selector is used to override defult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles*/
    color: #3a3a3a;
}

/*Header*/
header {
    background-color: coral;
}

/*Main Content*/
main {
    background-color: aqua;
    /*Make main content to take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: goldenrod;
}